#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.buttons:hover{
    background-color: black;
}